@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .content-bg {
        @apply w-full  bg-cover bg-center bg-welcome bg-fixed bg-no-repeat;
    }

    .home-bg {
        background-color: rgba(3, 7, 18, 0.92);
        @apply rounded-md;
    } */

    .main-btn {
        @apply !bg-main 
        hover:!bg-main-hover 
        active:!bg-main-active 
        disabled:!bg-main-disabled
         rounded-md py-2 px-4;
    }
}
